::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgb(31, 31, 31);
}
@media screen and (min-width: 60em) {
  html,
  body,
  #root {
    height: 100%;
  }
}
.logo {
  transform-origin: center;
  animation: spin 40s infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
